#redb{
  width: 50px;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}
#box{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
#contener{
  background-color: aqua;
  padding: 10px;
  border-radius: 15px;
  max-width: 400px;
}